<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        STAKE WITH ME
                    </a>
                </li>
                <li>
                    <%= link_to "HOME", root_path%>
                </li>
                <li>
                    <%= link_to "USER", home_member_path%>
                </li>
                <li>
                    <%= link_to "ADMIN", home_member_path%>
                </li>
            
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->