
				<div class="graphs">
					<div class="col_3">
						<div class="col-md-3 widget widget1">
							<div class="r3_counter_box">
								<i class="pull-left fa fa-question icon-rounded"></i>
								<div class="stats">
									<h5><strong>452</strong></h5>
									<span>Processing</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 widget widget1">
							<div class="r3_counter_box">
								<i class="pull-left fa fa-thumbs-up user2 icon-rounded"></i>
								<div class="stats">
									<h5><strong>101</strong></h5>
									<span>Processed</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 widget widget1">
							<div class="r3_counter_box">
								<i class="pull-left fa fa-exclamation-triangle user1 icon-rounded"></i>
								<div class="stats">
									<h5><strong>70%</strong></h5>
									<span>High risk</span>
								</div>
							</div>
						</div>
						<div class="col-md-3 widget">
							<div class="r3_counter_box">
								<i class="pull-left fa fa-check icon-rounded"></i>
								<div class="stats">
									<h5><strong>30%</strong></h5>
									<span>Low risk</span>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					
						<div class="col-md-12 span_9">
							<div class="activity_box">
								<div class="scrollbar" id="style-2">
									
									<!--Rails Version-->
									

									<!--users list-->

									

									<table class="table table-striped">
		<thead>
			<tr>
				
				<th><h4>Image</h4></th>
				<th><h4>Full Name</h4></th>
				<th><h4>Credit Score</h4></th>
				
				
			</tr>
		</thead>
		<tbody>
				<% @users.each do |user| %>
			<tr>
				<td><%= image_tag user.image.thumbnail.url, alt: "" if user.image? %></td>
				<td><%= link_to user.firstname << ' ' << user.lastname, user %></td>
				<td>235</td>
				
				
			</tr>
			<% end %>
		</tbody>
	</table>


									
								</div>
							</div>
						</div>
						

					
						
							<!-- map -->

							
							

							<!-- //map -->
						
						<div class="clearfix"> </div>
					</div>
					
						<div class="copy">
						<p>Copyright &copy; 2017 Imperium. All Rights Reserved | Design by <a href="http://meltwater.org/" target="_blank">Titans</a> </p>
					</div>